.Stats {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    align-self: flex-start;
    padding: 20px;
    background-color: var(--tertiary-color);
    border-radius: 10px;
    margin: 10px;
    width: calc(100% - 60px);
  }
  
  .CharacterStats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }
  
  .CharacterImage {
    width: 400px;
    height: 400px;
    position: relative;
    margin-top: 35px;
  }
  
  .XPBar {
    height: 30px;
    width: 100%;
    background-color: #ddd;
  }
  
  .XPBarProgress {
    height: 100%;
    background-color: #4caf50;
  }
  
  .FightButton {
    width: 30%;
  }
  
  .FightButton:hover {
    background-color: #45a049;
  }
  
  .Items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 90px 50px;
    gap: 30px;
    justify-items: center;
    width: 50%;
  }
  
  .StatsInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
  }
  
  .StatRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: -6px;
  }
  
  .StatButton {
    width: 30%;
  }
  
  .StatButton:hover {
    background-color: #45a049;
  }
  
  @media (max-width: 768px) {
    .Stats {
      flex-direction: column;
    }
    .CharacterStats {
      padding-left: 50px;
    }
    .StatsInfo {
      width: 100%;
    }
    .Items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        margin: 10px 0px;
        gap: 30px;
        justify-items: center;
        width: 100%;
    }
  }

  .Item {
    width: 150px;
    height: 150px;
    padding: 10px;
    background-color: aqua;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .Item h3 {
    position: absolute;
    top: -44px;
    left: 0;
    background: white;
    padding: 0 5px;
  }